* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
#again {
  cursor: pointer;
  border: solid white 0.2rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(61, 59, 59);
  margin-left: 5rem;
  float: left;
  font-family: "Press Start 2P", cursive;
  padding: 0.8rem;
  width: 10rem;
}
#gif {
  float: right;
  height: 12rem;
  width: 13rem;
}
.naslov {
  border-radius: 1rem;
  color: ghostwhite;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: auto;
  width: 25%;
  height: 10%;
  background-color: rgb(61, 59, 59);
  margin-bottom: 6.8rem;
  margin-top: 3rem;
}
.naslov h1 {
  padding-top: 1rem;
  font-size: 1.5rem;
}
.naslov h3 {
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}
.container {
  font-family: "Press Start 2P", cursive;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  background-color: rgb(61, 59, 59);
  color: white;
  margin: auto;
  width: 50%;
  height: 20%;
}
.container p {
  padding: 0.5rem;
}
.container input {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 2rem;
  cursor: default;
}
#btn {
  color: white;
  background-color: rgb(61, 59, 59);
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.kontenjer {
  width: 100%;
}
.background {
  display: flex;
  border: 0.3rem solid gainsboro;
  background-color: white;
  height: 25%;
  margin-right: 5rem;
  float: right;
  width: 8%;
}
.kontenjer .div1 {
  padding: 1rem;
  width: 50%;
  background-color: rgb(32, 31, 31);
}
.kontenjer .div2 {
  width: 50%;
  background-color: white;
}
.score {
  color: white;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  text-align: center;
  float: left;
  background-color: rgb(61, 59, 59);
  font-family: "Press Start 2P", cursive;
}
.score h1 {
  font-size: 1.5rem;
}
.score h3 {
  line-height: 1.5rem;
  font-size: 0.8rem;
}
